@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  /* min-width: 1100px; */
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* ------ СЕКЦИЯ 1----------- */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  box-sizing: border-box;
  background-color:#f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

}
.header__title {
  max-width: 730px;
  margin:0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;

}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;

}
.header__link{
  text-decoration: none;
  color:#2f80ed;
}
.header__link::after{
  content:'\2192';
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;

}
.rotation{
  animation: rotation 20s infinite linear;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}



/* --------СЕКЦИЯ 2------------- */
.description {
  padding-top: 100px;
}

.two-columns {
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  width: 80%;
}
.two-columns__brief {
  width:175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color:#2f80ed;
  margin: 0;

}
.two-columns__main-text {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__span-accent {
  font-weight: 600;
}
.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

/*---------СЕКЦИЯ 3----------*/
.techniques {
  padding-top: 100px;
  max-width: 80%;
  margin: 0 auto;
}
.cards{
  list-style: none;
}

.cards{
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
column-gap: 100px;
padding: 0;

}
.cards__item{
  width:240px;
  padding-top: 60px;

}
.cards__image{
  padding: 0 40px;
  width:160px;
  height:160px;
  border-radius: 50%;

}
.cards__title{
  margin: 43px 0 16px;
  text-align: center;

}
.cards__description{
  margin: 0;
  text-align: center;

}

/*------------СЕКЦИЯ 4--------------------*/
.video{
  padding-top: 100px;
}
.video__iframes {
  position:relative;
  bottom:-60px;
  padding-top: 50px;
  display: flex;
  gap: 0 20px;
  justify-content: center;
}

/*----------------СЕКЦИЯ 5----------*/
.oakley{
  padding-top: 160px;
  background-color: #f2f2f2;
}

/* -----------------СЕКЦИЯ 6----------- */
.feynman{
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  max-width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  padding-top: 100px;

}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}
.feynman__link::after{
  content:' \2192';
}

/* ---------СЕКИЯ 7 ------------*/


.digits{
  padding: 100px 0;
}


.section-title{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* ТАБЛИЦА */

.table{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  row-gap: 60px;
  flex-wrap: wrap;
  padding: 60px 0 0;
  list-style-type: none;
}
.table__cell{
  width: 250px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}
.table__text{
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text:last-child{
  margin-bottom: 0;
}

/*------------СЕКЦИЯ 8 --------------*/
.khan{
  background-color: #f2f2f2;
  padding-top: 105px;
}
.khan__container{
  max-width:80%;
  margin: 0 auto;
}
.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
.khan__quote{
  margin: 50px 0 36px;
  width:790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}
.khan__quote-author-subline {
  margin: 0 0 68px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

.khan__book-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content:flex-start;
  gap:0 48px;
}
.khan__book-pic {
  background-image: url("../images/khan/khan-book.jpg");
  width: 620px;
  height: 608px;
  background-repeat: no-repeat;
  background-size:cover;

}
.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}
.khan__buy-link::after{
  content: ' \2192';
}

/* ----------СЕКЦИЯ 9-------------- */

.kaufman{
  position: relative;
  overflow: hidden;
  background-color:#1f1f1f;
  padding: 90px 0;
  color: #fff;
  z-index: 1;
}

.section-title_theme_dark{
  position: relative;

}

.kaufman__triangle{
  position: absolute;
  z-index: -1;
  background-image:url('../images/kaufman-triangle.svg');
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-size: 872px 867px;
  background-repeat: no-repeat;
}


.section-subtitle_theme_dark{
  position: relative;

}
.table_theme_dark{
  padding: 80px 0 0;
  position: relative;
  row-gap: 80px;
}
.table__cell_theme_dark{
  width: 200px;
}

/* ------------СЕКЦИЯ 10-------------- */

.resources {
  padding-top: 100px;
}

.resources__logo-zone {
  list-style:none;
  max-width:1100px;
  display:flex;
  padding: 80px 0 217px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.resources__links {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* ------------СЕКЦИЯ 11-------------- */


.footer{
  display: flex;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  color:#fff;
  box-sizing: border-box;
  min-height: 350px;
}


.footer__columns{
  width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column{
display: flex;
  flex-direction: column;

}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;

}

.footer__author{
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column-heading{
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links{
  display: flex;
  flex-direction:column;
  padding: 0;
}
.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color:#fff;
}
.footer__column-link:last-of-type{
  margin-bottom: 16px;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
