.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.khan__buy-link::after {
  content: ' \2192';
}

.khan__buy-link:hover {
  opacity: .5;
}
